
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="956" height="1106"></canvas>
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}El poder autodidacta{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"Un largo viaje siempre comienza con un paso". — Lao Tzu{% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->
